<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <title>Register Users</title>
</head>

<body>
  <h1>Register users</h1>
  <form hx-post="/user" hx-target="#users" hx-swap="beforeend">
    <label for="email">Email</label>
    <input type="email" name="email">
    <button type="submit">Send</button>
  </form>

  <ul id="users">
    {{ range .Users }}
    {{ block "list-item" . }}
    <li>{{ .Email }}</li>
    {{ end }}
    {{ end }}
  </ul>
</body>

</html>